.form-outer {

  width: 100%;

}

.background-class {
  background-repeat: no-repeat;
  background-size: cover;
}



.form-inner {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: max-content;
}

.form-inner form {
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  padding: 35px;
  width: 100vw;
  max-width: 550px;

}

.form-inner form input {
  padding: 5px 10px;
  margin: 2px 5px;
  width: 100%;
  border: 0.3px solid rgba(0, 0, 0, 0.2);
}

.form-ele {
  width: max-content;
}

.form-inner form h5 {
  color: gray;
}

.subBut {

  background-color: #0067FF;
  color: #FFF;
  width: 100%;
  border: none;

}

.spacer {
  padding: 10px;
}

.icon-but {
  background: none;
  border: none;
}


.header-bar {
  background-color: #292929;
}

.container--narrow {
  max-width: 732px;
}

.header-search-icon {
  position: relative;
  top: 3px;
}

.top-padding {
  padding-top: 125px !important;
}

.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.avatar-tiny {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.small-header-avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.intermediateForm {
  padding: 0px !important;
}